// Place all the styles related to the alunos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 110px;
  margin-right: auto;
  margin-left: auto;
}

span {
	color: #d35b94;
}

.descricao {
	font-size: 18pt;
}

.cadastro {
	font-size: 16pt;
	margin-top: 40px;
	margin-left: 400px;
}

.contato {
	font-size: 14pt;
	margin-top: 70px;
	margin-left: 700px;
}

.input {
	width: 320px;
	padding: 5px;
	padding-left: 20px;
	border: 1px solid #d35b94;
	border-radius: 5px;
	margin: 5px;
}

h1 {
	font-size: 24pt;
	color: #D35B94;
	padding-top: 50px;
	padding-left: 50px;
}

h2 {
	font-size: 18pt;
	color: #d35b94;
	padding-top: 50px;
	padding-left: 60px;
}
table.perfil, table.alunos {
	margin: 5px;
	border-collapse: collapse;
}

table.perfil tr td, table.alunos tr td {
	border: 1px solid black;
	padding: 5px;
}

.login {
	display: inline;
	position: absolute;
	right: 50px;
	top: 40px;
}

.inp-login {
	width: 140px;
	padding: 5px;
	padding-left: 20px;
	border: 1px solid #d35b94;
	border-radius: 0px;
	margin: 5px;
	position: relative;
	top: -10px;
}
