// Place all the styles related to the alunos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  padding-right: 50px;
  padding-left: 90px;
  padding-top: 110px;
  margin-right: auto;
  margin-left: auto;
}

