// Place all the styles related to the disciplinas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.titulo {
	position: relative;
	left: 150px;
	width: 200px;
	float: left;
	top: 100px;
}