<div class="container">

<p class="descricao">Esse site é destinado aos alunos de ensino integrado do 1, 2 e 3 anos de matemática da professora Aline Macedo do Instituto Federal de Ciência, Educação e Tecnologia Campus Rio Grande. </p>

<p class="cadastro">Faça o login ou <span><%= link_to "cadastre-se", new_aluno_path%></span> para ter acesso ao conteúdo do site.</p>

<p class="contato">Contato: <span>aline.macedo@ifrs.riogrande.edu.br</span></p>

</div>