<p>Esse site é destinado aos alunos de ensino integrado do 1, 2 e 3 anos de matemática da professora Aline Macedo do Instituto Federal de Ciência, Educação e Tecnologia Campus Rio Grande. </p>

<p>Faça o login ou <%= link_to "cadastre-se", new_aluno_path%> para ter acesso ao conteúdo do site.</p>

<p>Contato: aline.macedo@ifrs.riogrande.edu.br</p>