<div class="container">
	<% if session[:aluno] %>
		Bem-vindo, <%= session[:aluno] %>

		<%= form_tag({controller: 'login', action: 'logout'}) do  %>
			<button> Deslogar </button>
		<% end %>
	<% end %>

</div>
