<h2><%= @aluno.nome %></h2>
<table class="perfil">
	<thead>
		<tr>
			<td><strong>Matricula</strong></td>
			<td><strong>Data de Nascimento</strong></td> 
			<td><strong>E-mail</strong></td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @aluno.matricula %></td>
			<td><%= @aluno.dataDeNascimento %></td>	
			<td><%= @aluno.email %></td>
		</tr>
	</tbody>
</table>