<div class="container">
	<div id="menu-sup">
		<ul>
			<li><a href="/matematicaI">Matemática I</a></li>
			<li><a href="/matematicaII">Matemática II</a></li>
			<li><a href="/matematicaIII" class="on">Matemática III</a></li>
		</ul>
	</div>

	<div id="menu-lat">
		<ul>
			<li><a href="/matematicaIII/1bim">1 bimestre</a></li>
			<li><a href="/matematicaIII/2bim">2 bimestre</a></li>
			<li><a href="/matematicaIII/3bim">3 bimestre</a></li>
			<li><a href="/matematicaIII/4bim">4 bimestre</a></li>
		</ul>
	</div>

	<p class="cadastro">Disciplina referente aos alunos do terceiro ano do ensino integrado</p>

</div>