<div class="container">
	<div id="menu-sup">
		<ul>
			<li><a href="/matematicaI" class="on">Matemática I</a></li>
			<li><a href="/matematicaII">Matemática II</a></li>
			<li><a href="/matematicaIII">Matemática III</a></li>
		</ul>
	</div>

	<div id="menu-lat">
		<ul>
		<p>Escolha um bimestre para ver o conteúdo e as listas:</p>
			<li><a href="/matematicaI/1bim">1 bimestre</a></li>
			<li><a href="/matematicaI/2bim" class="on">2 bimestre</a></li>
			<li><a href="/matematicaI/3bim">3 bimestre</a></li>
			<li><a href="/matematicaI/4bim">4 bimestre</a></li>
		</ul>
	</div>

	<table><center>
		<tr>
			<td colspan="2"><p class="titulo">Função Afim</p></td>
		</tr>
		<tr>
			<td colspan="2"><p class="titulo">Função Quadrática</p></td>
		</tr>
	</center></table>

</div>