<div class="container">
	<div id="menu-sup">
		<ul>
			<li><a href="/matematicaI" class="on">Matemática I</a></li>
			<li><a href="/matematicaII">Matemática II</a></li>
			<li><a href="/matematicaIII">Matemática III</a></li>
		</ul>
	</div>

	<div id="menu-lat">
		<ul>
		<p>Escolha um bimestre para ver o conteúdo e as listas:</p>
			<li><a href="/matematicaI/1bim">1 bimestre</a></li>
			<li><a href="/matematicaI/2bim">2 bimestre</a></li>
			<li><a href="/matematicaI/3bim">3 bimestre</a></li>
			<li><a href="/matematicaI/4bim" class="on">4 bimestre</a></li>
		</ul>
	</div>

	<table><center>
		<tr>
			<td colspan="2"><p class="titulo">Trigonometria</p></td>
		</tr>
		<tr>
			<td>
				<a href="/Arquivos/MatematicaI/4bimestre/conteudo/TRIGONOMETRIA.pdf">
				<span class="cl">conteúdo</span></a>
			</td>
			<td>
				<a href="/Arquivos/MatematicaI/4bimestre/listas/listatrigonometria.pdf">
				<span class="cl">lista I</span></a><br>
				<a href="/Arquivos/MatematicaI/4bimestre/listas/Vestibulares_trigonometria1.pdf">
				<span class="cl">vestibular I</span></a><br>
				<a href="/Arquivos/MatematicaI/4bimestre/listas/vestibulares_trigonometria2.pdf">
				<span class="cl">vestibular II</span></a><br>
			</td>
		</tr>
	</center></table>
</div>