<div class="container">
	<div id="menu-sup">
		<ul>
			<li><a href="/matematicaI">Matemática I</a></li>
			<li><a href="/matematicaII">Matemática II</a></li>
			<li><a href="/matematicaIII" class="on">Matemática III</a></li>
		</ul>
	</div>

	<div id="menu-lat">
		<ul>
		<p>Escolha um bimestre para ver o conteúdo e as listas:</p>
			<li><a href="/matematicaIII/1bim" class="on">1 bimestre</a></li>
			<li><a href="/matematicaIII/2bim">2 bimestre</a></li>
			<li><a href="/matematicaIII/3bim">3 bimestre</a></li>
			<li><a href="/matematicaIII/4bim">4 bimestre</a></li>
		</ul>
	</div>

	<table><center>
		<tr>
			<td colspan="2"><p class="titulo">Sequências</p></td>
		</tr>
		<tr>
			<td>
				<a href="/Arquivos/MatematicaIII/1bimestre/conteudo/Sequencias e Sucessões.pdf">
				<span class="cl">conteúdo I</span></a><br>
			</td>
			<td>
				<a href="/Arquivos/MatematicaIII/1bimestre/listas/Lista Sequencias.pdf">
				<span class="cl">lista I</span></a><br>
			</td>
		</tr>
		<tr>
			<td colspan="2"><p class="titulo">Progressões Aritméticas</p></td>
		</tr>
		<tr>
			<td>
				<a href="/Arquivos/MatematicaIII/1bimestre/conteudo/Progressões Aritméticas.pdf">
				<span class="cl">conteúdo I</span></a><br>
			</td>
			<td>
				<a href="/Arquivos/MatematicaIII/1bimestre/listas/Lista PA.pdf">
				<span class="cl">lista I</span></a><br>
			</td>
		</tr>
		<tr>
			<td colspan="2"><p class="titulo">Progressões Geométricas</p></td>
		</tr>
		<tr>
			<td>
				<a href="/Arquivos/MatematicaIII/1bimestre/conteudo/Progressões Geométricas.pdf">
				<span class="cl">conteúdo I</span></a><br>
			</td>
			<td>
				<a href="/Arquivos/MatematicaIII/1bimestre/listas/Lista PG.pdf">
				<span class="cl">lista I</span></a><br>
			</td>
		</tr>
	</center></table>

</div>